<h3 fxLayout="row" fxLayoutAlign="center center" class="login-header">ICHATBOT</h3>
<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login Page</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Email">
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="password">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button id="login-button" mat-raised-button color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>