@import "../../variables.scss";

.login-main{
  margin-top: 5%;
  }
  mat-card{
  min-width: 40%;
  }

  .login-header{
    margin-top: 5%;
    color: $primary;
  }

  #login-button{
    width:100%;
  }