@import "../../variables.scss";

.loader {
  background: url('../../assets/images/loader.gif') center center no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

#chatbotHeader{
  text-align: center;
  color: $primary;
}
iframe {
  display: flex;       
  justify-content: flex-start;
  width: 100vh;
  height: 85vh;        
  border: 1px solid lightgray;         
  overflow: hidden;
}