<div id="chatbot">
  <h3 id="chatbotHeader">IPLUSPLUSBOT</h3>
  <div class="loader">
    <iframe
      src='https://webchat.botframework.com/embed/iplusplusdemo-bot?s=8fVSKFAEJj8.-gHiv-V7eZSlBXOE3c_wyo7YqPQF_HgIacKUyyIbZxA'
      scrolling="auto">
    </iframe>
  </div>
</div>